api: https://api.cloudflare.com/client/v4/
auth:
  scopedToken: {{ ddns_api }}
domains:
{% for subdomain in ddns_subdomains %}
  - name: {{ subdomain.name }}.{{ ddns_zone }}
    type: A
    proxied: {{ subdomain.proxied }}
    create: true
    zoneId: {{ ddns_zone_id }}
{% endfor %}